<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark"
        tools:targetApi="34">
        <activity
            android:name=".ui.activities.Discount"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ViewOrderDetails"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OrderStatusActivity"
            android:exported="true" />



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCzv33mFzK_SEECOHSx7EwIx-WbrypU1yo" />

        <activity
            android:name=".ui.activities.LocationActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activities.ContactusActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activities.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activities.StartActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>